@media (max-width: 600px) {
  .why-choose-us {
    padding: 50px 15px;
  }

  .container h2 {
    font-size: 27px;
    text-align: center;
    white-space: nowrap;
  }

  .subtitle {
    font-size: 15px;
  }

  .features {
    grid-template-columns: 1fr;
  }
}